*{
margin: 0;                 
padding: 0;            
box-sizing: border-box;
}

body{
background-color: rgb(154, 182, 209);
}

.navbar {
    display: flex;               /* Convierte la navbar en contenedor flex */
    justify-content: space-between; /* Logo a la izquierda, links a la derecha,
                                       espacio máximo entre ellos */
    align-items: center;         /* Centra verticalmente logo y links */
    background: #fdfdfd;         /* Fondo azul oscuro */
    border-radius: 20px;          /* Esquinas redondeadas */
    padding: 15px 25px;          /* 15px arriba/abajo, 25px izquierda/derecha */
    }


h2{
align-items: center;
text-align: center;
}

img{
width: 100px;
    height: auto;
}


